<%= form_with(model: transmision, local: true) do |form| %>
  <% if transmision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transmision.errors.count, "error") %> prohibited this transmision from being saved:</h2>

      <ul>
      <% transmision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :transmision_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
