<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :modelID %>
    <%= form.number_field :modelID, id: :product_modelID %>
  </div>

  <div class="field">
    <%= form.label :fabrication %>
    <%= form.number_field :fabrication, id: :product_fabrication %>
  </div>

  <div class="field">
    <%= form.label :fuelID %>
    <%= form.number_field :fuelID, id: :product_fuelID %>
  </div>

  <div class="field">
    <%= form.label :engineID %>
    <%= form.number_field :engineID, id: :product_engineID %>
  </div>

  <div class="field">
    <%= form.label :transmisionID %>
    <%= form.number_field :transmisionID, id: :product_transmisionID %>
  </div>

  <div class="field">
    <%= form.label :colorID %>
    <%= form.number_field :colorID, id: :product_colorID %>
  </div>

  <div class="field">
    <%= form.label :door %>
    <%= form.text_field :door, id: :product_door %>
  </div>

  <div class="field">
    <%= form.label :co2 %>
    <%= form.text_field :co2, id: :product_co2 %>
  </div>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature, id: :product_feature %>
  </div>

  <div class="field">
    <%= form.label :other_parameter %>
    <%= form.text_field :other_parameter, id: :product_other_parameter %>
  </div>

  <div class="field">
    <%= form.label :safety %>
    <%= form.text_field :safety, id: :product_safety %>
  </div>

  <div class="field">
    <%= form.label :comfort %>
    <%= form.text_area :comfort, id: :product_comfort %>
  </div>

  <div class="field">
    <%= form.label :moreinfo %>
    <%= form.text_area :moreinfo, id: :product_moreinfo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
