<p id="notice"><%= notice %></p>
<!--BEGIN CONTENT-->
<div id="content">
  <div class="content">
    <div class="breadcrumbs">
      <a href="#">Home</a>
      <%= image_tag("marker_2.gif") %>
      <a href="#">Cars</a>
      <%= image_tag("marker_2.gif") %>
      <a href="#">Mercedes-Benz</a>
      <%= image_tag("marker_2.gif") %>
      <span>Mercedes-Benz CLS 320</span>
    </div>
    <div class="main_wrapper">
      <div class="cars_id">
        <div class="id">Offer ID <span>C24021482</span></div>
        <div class="views">The offer had 1944 Views</div>
      </div>
      <h1><strong><%= @product.name %></strong></h1>
      <div class="car_image_wrapper car_group">
        <div class="big_image">
          <a href="<%= request.base_url %>/assets/placeholders/480x292.gif?v=1" class="car_group">
            <%= image_tag("zoom.png", class: "zoom") %>
            <%= image_tag("placeholders/480x292.gif") %>
          </a>
        </div>
        <div class="small_img">
          <a href="<%= request.base_url %>/assets/placeholders/620x425.gif?v=1" class="car_group">
            <%= image_tag("placeholders/81x62.gif") %>
          </a>
          <a href="<%= request.base_url %>/assets/placeholders/620x425.gif" class="car_group">
            <%= image_tag("placeholders/81x62.gif") %>
          </a>
          <a href="<%= request.base_url %>/assets/placeholders/620x425.gif" class="car_group">
            <%= image_tag("placeholders/81x62.gif") %>
          </a>
          <a href="<%= request.base_url %>/assets/placeholders/620x425.gif" class="car_group">
            <%= image_tag("placeholders/81x62.gif") %>
          </a>
          <a href="<%= request.base_url %>/assets/placeholders/620x425.gif" class="car_group">
            <%= image_tag("placeholders/81x62.gif") %>
          </a>
        </div>
      </div>
      <div class="car_characteristics">
        <a href="#" class="print"></a>
        <div class="price"><%= @product.price %><span>* Price negotiable</span></div>
        <div class="clear"></div>
        <div class="features_table">
          <div class="line grey_area">
            <div class="left">Model, Body type:</div>
            <div class="right"><%= Model.find_by(id: @product.modelID).name %></div>
          </div>
          <div class="line">
            <div class="left">Fabrication:</div>
            <div class="right"><%= @product.fabrication %></div>
          </div>
          <div class="line grey_area">
            <div class="left">Fuel:</div>
            <div class="right"><%= Fuel.find_by(id: @product.fuelID).name %></div>
          </div>
          <div class="line">
            <div class="left">Engine:</div>
            <div class="right"><%= Engine.find_by(id: @product.engineID).name %></div>
          </div>
          <div class="line grey_area">
            <div class="left">Transmision:</div>
            <div class="right"><%= Transmision.find_by(id: @product.transmisionID).name %></div>
          </div>
          <div class="line">
            <div class="left">Color:</div>
            <div class="right"><%= Color.find_by(id: @product.colorID).name %></div>
          </div>
          <div class="line grey_area">
            <div class="left">Doors:</div>
            <div class="right"><%= @product.door %></div>
          </div>
          <div class="line">
            <div class="left">CO2-Emissions combined:</div>
            <div class="right"><%= @product.co2 %></div>
          </div>
        </div>
        <div class="wanted_line">
          <div class="left">You want to sell a similar car?</div>
          <div class="right">
            <a href="#">add an offer</a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="info_box">
        <div class="car_info">
          <div class="info_left">
            <h2><strong>Vehicle</strong> information</h2>
            <p><strong>Features:</strong><br/><%= @product.feature %></p>
            <p><strong>Other parameters:</strong><br/><%= @product.other_parameter %></p>
            <p><strong>Safety:</strong><br/><%= @product.safety %></p>
            <p><strong>Comfort:</strong><br/><%= @product.comfort %></p>
          </div>
          <div class="info_right">
            <h2><strong>More</strong> info</h2>
            <%= @product.moreinfo %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="car_contacts">
          <h2><strong>Contact</strong> details</h2>
          <p>AutoMarket does not store additional information about the seller except for those contained in the announcement.</p>
          <div class="left">
            <div class="phones detail single_line spaced">0040 742 016 756</div>
            <div class="email detail single_line"><a href="mailto:#" class="markered">Contact vendor via e-mail</a></div>
          </div>
          <div class="right">
            <div class="addr detail single_line">Berlin, Germany, nr. 250330, main street</div>
            <div class="web detail single_line"><a href="#">http://www.dealer.automarket.com</a></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="car_sidebar">
        <div class="calculator">
          <h3><strong>Loan</strong> calculator</h3>
          <label><strong>Loan Amount:</strong></label>
          <div class="select_box_1">
            <select class="select_3">
              <option value="0">0.00 Euro</option>
              <option value="1">10.00 Euro</option>
              <option value="2">100.00 Euro</option>
              <option value="3">1000.00 Euro</option>
              <option value="4">10000.00 Euro</option>
              <option value="5">100000.00 Euro</option>
              <option value="6">1000000.00 Euro</option>
              <option value="7">10000000.00 Euro</option>
              <option value="8">100000000.00 Euro</option>
            </select>
          </div>
          <label><strong>Down Payment:</strong></label>
          <div class="select_box_1">
            <select class="select_3">
              <option value="0">0.00 Euro</option>
              <option value="1">10.00 Euro</option>
              <option value="2">100.00 Euro</option>
              <option value="3">1000.00 Euro</option>
              <option value="4">10000.00 Euro</option>
              <option value="5">100000.00 Euro</option>
              <option value="6">1000000.00 Euro</option>
              <option value="7">10000000.00 Euro</option>
              <option value="8">100000000.00 Euro</option>
            </select>
          </div>
          <label><strong>Annual Rate:</strong></label>
          <div class="select_box_1">
            <select class="select_3">
              <option value="0">0.00 %</option>
              <option value="1">10.00 %</option>
              <option value="2">20.00 %</option>
              <option value="3">30.00 %</option>
              <option value="4">40.00 %</option>
              <option value="5">50.00 %</option>
            </select>
          </div>
          <label><strong>Loan Period:</strong></label>
          <div class="select_box_1">
            <select class="select_3">
              <option value="0">3 Years</option>
              <option value="1">4 Years</option>
              <option value="2">5 Years</option>
              <option value="3">6 Years</option>
              <option value="4">7 Years</option>
            </select>
          </div>
          <input type="submit" value="calculate" class="btn_calc"/>
          <div class="clear"></div>
        </div>
        <div class="banner">
          <a href="#">
            <%= image_tag("pics/banner_car.jpg") %>
          </a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="recent_cars">
        <h2><strong>Similar</strong> offers</h2>
        <ul>
          <li>
            <a href="#">
              <%= image_tag("placeholders/220x164.gif") %>
              <div class="description">Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles</div>
              <div class="title">Mercedes-Benz <span class="price">$ 115 265</span></div>
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag("placeholders/220x164.gif") %>
              <div class="description">Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles</div>
              <div class="title">Mercedes-Benz <span class="price">$ 115 265</span></div>
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag("placeholders/220x164.gif") %>
              <div class="description">Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles</div>
              <div class="title">Mercedes-Benz <span class="price">$ 115 265</span></div>
            </a>
          </li>
          <li class="last">
            <a href="#">
              <%= image_tag("placeholders/220x164.gif") %>
              <div class="description">Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles</div>
              <div class="title">Mercedes-Benz <span class="price">$ 115 265</span></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--EOF CONTENT-->

<!--<%#= link_to 'Edit', edit_product_path(@product) %> |-->
<%#= link_to 'Back', products_path %>
