<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Modelid:</strong>
  <%= @product.modelID %>
</p>

<p>
  <strong>Fabrication:</strong>
  <%= @product.fabrication %>
</p>

<p>
  <strong>Fuelid:</strong>
  <%= @product.fuelID %>
</p>

<p>
  <strong>Engineid:</strong>
  <%= @product.engineID %>
</p>

<p>
  <strong>Transmisionid:</strong>
  <%= @product.transmisionID %>
</p>

<p>
  <strong>Colorid:</strong>
  <%= @product.colorID %>
</p>

<p>
  <strong>Door:</strong>
  <%= @product.door %>
</p>

<p>
  <strong>Co2:</strong>
  <%= @product.co2 %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @product.feature %>
</p>

<p>
  <strong>Other parameter:</strong>
  <%= @product.other_parameter %>
</p>

<p>
  <strong>Safety:</strong>
  <%= @product.safety %>
</p>

<p>
  <strong>Comfort:</strong>
  <%= @product.comfort %>
</p>

<p>
  <strong>Moreinfo:</strong>
  <%= @product.moreinfo %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
